body {
    background-image: url("../public/images-2/fruitbg2.jpg"); 
    background-size: cover;
    font-family: sans-serif;
}

/* about page styling */
.about-header {
    text-align: center;
    margin-right: 250px;
    margin-left: 250px;
    font-size: 30px;
}

@media only screen and (max-width: 786px) {
    .about-header {
        margin-right:50px;
        margin-left: 50px;
    }
    }

.about-container-1 {
    margin: 50px;
    background-color: white;
    border-radius: 30px;
    opacity: 85%;
    display: flex;
}

.about-container-2 {
    margin: 50px;
    background-color: white;
    border-radius: 30px;
    opacity: 85%;
    display: flex;
    flex-direction: row;
}

.small-container-1 {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
}

.small-container-2 {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
}

.abt-title {
    font-size: 30px;
}

.squiggly-1 {
    width: 600px;
    height:20px;
    margin-left: 30px;
}

.squiggly-2 {
    width: 650px;
    height:20px;
    margin-left: 10px;
}

.juice-bottles {
    height: 250px;
    width: 270px;
    margin-left: 50px;
    margin-top: 30px;
    margin-right: 10px;
}

.about-p {
    font-size: 25px;
    padding: 10px;
    text-align: center;
    line-height: 1.5;
}

.about-container-3 {
    background-color: white;
    border-radius: 30px;
    opacity: 70%;
    display: flex;
    flex-direction: column;
}

.about-p-last {
    font-size: 25px;
    padding: 10px;
    text-align: center;
    line-height: 1.5;
    margin-top: 0;
}

.input-bubble {
    display: block;
    text-align: center;
    margin-bottom: 100px;
}

.input-bubble input {
    font-size: 25px;
    border-radius: 25px;
    width: 50%;
    
}
/* end of about page styling */

/* contact page styling */
.contact-title {
    font-size: 40px;
    padding-top: 50px;
    color: rgb(156, 153, 153);
}

.contact-container {
    display: block;
    text-align: center;
    margin: 50px;
    background-color: white;
    opacity: 85%;
    border-radius: 50px;
}

.contact-input-bubble input {
    font-size: 25px;
    border-radius: 25px;
    width: 50%;
    margin-bottom: 50px;
}

.contact-text-area textarea {
    padding: 8px;
    width: 50%;
    height: 400px;
    font-size: 25px;
    border-radius: 25px;
    text-align: center;
    margin-bottom: 50px;
}

.submit-btn {
    font-size: 25px;
    color: white;
    background-color: #F47A63;
    display: center;
    padding: 10px;
    margin-bottom: 50px;
    border-radius: 10px;
    border: none;
}
/* end contact page styling */

/* footer styling */
.footer {
    background-color: transparent;
    color: white;
    width: 100%;
    text-align: center;
    position: absolute;
    margin-top: 50px;

}

.footer-basic {
    background-color: #FFB4A7;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align-last: center;
}

.footer-basic img {
    width: 100px;
    height: 100px;
    align-self: center;
    margin: 0 5rem 0 5rem;
    
}

.footer-basic .social {
    text-align:center;
    padding-bottom: 0;
    padding-top: 15px;
    align-self: center;
    margin: 0 5rem 0 5rem;
}

.footer-basic .social > a {
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid grey;
    margin:0 8px;
    color: grey;
}

.footer-basic .social > a:hover {
    opacity:0.9;
}

.footer-basic .copyright {
    margin-top:10px;
    text-align:center;
    font-size:13px;
    color: grey;
    margin-bottom: 0;
}

.penny-contact {
    color:grey;
}

/* media queries */
@media only screen and (max-width: 786px) {
    .contact-container, .about-container-1, .about-container-2, .about-container-3, .about-p, .about-p-last, .footer-basic {
       margin: 20px;
       flex-direction: column;
       font-size: 20px;
    }
}

@media only screen and (max-width: 425px) {
    .contact-container, .about-container-1, .about-container-2, .about-container-3 {
       margin: 0;
    }
}